@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body * {
    box-sizing: border-box;
}

/* ここまで リセットcss */

/* ここからnews */

.hd {
    position: relative;
    width: 100%;
    margin: 64px, 0;
}

.hd-img {
    width: 100%;
    height: auto;
}

.hd-logo {
    height: 24px;
    width: auto;
    position: absolute;
    bottom: 16px;
    left: 64px;
}

.nav-icons {
    position: absolute;
    bottom: 16px;
    right: 32px;
}

.nav-icon-content {
    margin-right: 32px;
}

.nav-icon {
    width: 30px;
    height: auto;
}

.news {
    width: 100%;
    margin: 64px 0;
    padding: 64px;
}

.news-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.news-ttl {
    height: 48px;
    width: auto;
}

.button-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.news-collection {
    width: 100%;
    display: flex;
}

.news-single {
    width: 256px;
    margin-right: 64px;
}

.news-img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.news-single-ttl {
    font-size: 18px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    margin-bottom: 24px;
}

.news-txt {
    font-size: 14px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 24px;
}

.latest-news {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.button-txt-bold, .button-txt-bold:hover, .button-txt-bold:visited {
    font-size: 15px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    color: #000;
}

.news-detail {
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
}

.news-detail .button-txt-bold {
    text-decoration: underline solid 1px;
}

.date-txt {
    font-size: 14px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
}

.news-date {
    padding: 16px 0;
    border-top: #000 1px solid;
}

/* ここからabout */

.about {
    margin: 0 240px 184px;
}

.about-ttl {
    display: block;
    font-size: 20px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 80px;
}

.about-content {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}

.about-content-ttl {
    flex: 0 0 20%;
    font-size: 17.5px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 2;
}

.about-content-txt {
    flex: 0 0 80%;
    font-size: 17.5px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 2;
}

/* ここからproducts */

.products {
    margin: 0 192px 124px;
}

.products-tea, .products-scone {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.products-scone {
    flex-direction: row-reverse;
}

.products-ttl-tea {
    height: 56px;
    transform: translate(-32px, 124px);
}

.products-ttl-scone-container {
    width: 100%;
    text-align: right;
} 

.products-ttl-scone {
    height: 72px;
    transform: translate(32px, 124px);
}

.products-img-content {
    flex: 0 0 60%;
}

.products-img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.products-tea-content {
    flex: 0 0 40%;
    padding: 64px 48px;
    background-color: #fff;
    margin-left: -8%;
}

.products-scone-content {
    flex: 0 0 40%;
    padding: 64px 48px;
    background-color: #fff;
    margin-right: -8%;
    z-index: 1;
}

.products-content-ttl {
    font-size: 30px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 32px;
}

.products-txt {
    font-size: 16px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 32px;
}

/* ここからfeature */

.feature {
    margin: 0 248px;
}

.feature-ttl {
    font-size: 36px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 2;
    letter-spacing: -3px;
    text-align: center;
    margin-bottom: 48px;
}

.feature01 {
    display: flex;
    width: 100%;
    margin-bottom: 96px;
}

.feature02 {
    display: flex;
    width: 100%;
    margin-bottom: 146px;
}

.feature-img-container {
    flex: 0 0 64%;
}

.feature-img {
    object-fit: cover;
    width: 100%;
    height: 432px;
}

.feature01-content {
    flex: 0 0 36%;
    padding: 32px 0 32px 56px;
}

.feature02-content {
    flex: 0 0 36%;
    padding: 32px 56px 32px 0;
}

.feature-content-ttl {
    font-size: 28.5px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3px;
    margin-bottom: 24px;
}

.feature-txt {
    font-size: 16px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 1.7;
}

/* ここからRECIPE */

.recipe-ttl-container {
    text-align: center;
}

.recipe-ttl {
    height: 48px;
    width: auto;
    margin-bottom: 48px;
}

.recipe-ttl-2 {
    font-size: 36px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}

.horizon {
    display: flex;
    width: 100%;
}

.horizontal-text {
    flex: 0 0 auto;
    margin: 0 60px;
    padding: 12px;
    border-top: solid 8px #000;
    writing-mode: vertical-lr;
}

.horizontal-text-ttl {
    font-size: 37px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    margin-right: 18px;
    letter-spacing: -1px;
}

.horizontal-text-txt {
    font-size: 18px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
}

.horizontal-scrolling {
    display: flex;
    margin-bottom: 128px;
    padding: 24px 0;
    overflow: auto;
}

.recipe-detail {
    flex: 0 0 350px;
    margin-right: 48px;
}

.recipe-detail-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 24px;
}

.recipe-detail-ttl {
    font-size: 24px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    margin-bottom: 24px;
}

.recipe-detail-txt {
    font-size: 13.5px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 2;
}

/* ここからSHOP INFO */

.shop-info-ttl-container {
    text-align: center;
}

.shop-info-ttl {
    height: 50px;
    width: auto;
    margin-bottom: 56px;
}

.cafe-info-container {
    display: flex;
    margin: 0 auto 64px;
    width: 1280px;
}

.cafe-img-container {
    flex: 0 0 55%;
    overflow: auto;
}

.cafe-info-content {
    flex: 0 0 45%;
    padding: 32px 92px;
}

.cafe-info-content-ttl {
    height: 38px;
    width: auto;
    margin-bottom: 16px;
}

.cafe-info-content-txt {
    font-size: 15.75px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 32px;
}

.cafe-detail {
    width: 100%;
    padding: 24px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    margin-bottom: 8px;
}

.cafe-detail th {
    padding: 8px;
    font-size: 13px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    line-height: 1.5;
}

.cafe-detail td {
    padding: 16px;
    font-size: 13px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 1.5;
}

.button {
    display: flex;
    width: 320px;
    padding: 24px 0;
    border: solid 1px #000;
    justify-content: center;
    align-items: center;
	text-decoration: none;
}

.button:hover {
    background-color: #fafafa;
    transition: 500ms;
}

.online-shop-container {
    margin: 0 184px 96px;
    padding: 40px 64px;
    border-top: solid 3px #000;
}

.online-shop-ttl {
    height: 24px;
    width: auto;
    margin-bottom: 24px;
}

.online-shop-container-2 {
    display: flex;
    justify-content: space-between;
}

.online-shop-txt {
    font-size: 16px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

.online-shop-txt-2 {
    font-size: 14px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    line-height: 1.5;
}

/* ここからCONTACT */

.contact-ttl-container {
    text-align: center;
}

.contact-ttl {
    height: 40px;
    width: auto;
    margin-bottom: 56px;
}

.form {
    margin: 0 248px;
}

.form-element {
    display: flex;
    margin-bottom: 32px;
}

.form-label {
    font-size: 16px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
    flex: 0 0 28%;
}

.form-input {
    flex: 0 0 72%;
}

#person, #email, #topic {
    height: 56px;
    padding: 0 8px;
    font-size: 14px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
}

#topic {
    appearance: none;
    background-image: url(img/select.svg);
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

#email {
    width: 100%;
}

#content {
    padding: 8px;
    font-size: 14px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 500;
}

.privacy-policy-container {
    text-align: center;
    margin-bottom: 40px;
}

.submit-button {
    display: flex;
    width: 320px;
    padding: 24px 0;
    margin: auto;
    background-color: #6d6d6d;
    border: none;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    font-size: 15px;
    font-family: "Zen Maru Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-weight: 700;
    color: #fff;
}

.submit-button:active {
    background-color: #fafafa;
    transition: 500ms;
    color: #000;
    border: solid 1px #000;
}

.ft {
    display: flex;
    width: 100%;
    justify-content: center;
}

.copyright {
    height: 14px;
    margin: 164px;
}